body {
margin: 0px;
background-color: #bebebe;
font-family: "Trebuchet MS",helvetica,sans-serif;
}

body,td {
font-size: 12px;
}

body a {
color: #005582;
text-decoration: none;
}

body a:hover {
color: #661b00;
text-decoration: underline;
}

body a.createlinktext {
color: red;
}

#pageHeader {
height: 50px;
line-height: 25px;
color: #ffffff;
font-size: 24px;
padding: 5px 5px 5px 6px;
background-color: #004A66;
}

#pageactions {
position: absolute;
top: 2.5em;
right: 19px;
text-align: right;
padding: 0 10px 0 0;
font-size: 90%;
color: #ffffff;
}

#pageactions a:link {
color: #FFF;
text-decoration: none;
}

#pageactions a:visited {
color: #FFF;
text-decoration: none;
}

#pageactions a:hover {
color: #FFF;
text-decoration: underline;
}

#pageactions a.createlinktext {
color: red;
}

#container {
margin: 20px;
background-color: #ffffff;
}

#divPageContent {
padding: 0px 0px 0px 0px;
}

#navcontainer {
width: 160px;
color: #004a66;
background-color: #ffffff;
overflow: hidden;
}

#navcontainer ul {
margin: 0 0 0 0;
padding: 0 0 0 0;
list-style-type: none;
}

#navcontainer a {
display: block;
width: 160px;
color: #004a66;
}

#navlist a:visited {
color: #66004b;
text-decoration: none;
}

#navlist a.createlinktext {
color: red;
}

#footer {
height: 20px;
background-color: #004A66;
padding: 0px 10px 0px 10px;
line-height: 25px;
color: #FFF;
font-size: 89%;
}

#footer a:link {
color: #FFF;
text-decoration: none;
}

#footer a:visited {
color: #FFF;
text-decoration: none;
}

#footer a:hover {
color: #FFF;
text-decoration: underline;
}

#footer a.createlinktext {
color: red;
}

#wikiedit textarea {
width:100%;
}

code {
font-size: 100%;
overflow: auto;
}

pre {
color: black;
background-color: #ebebeb;
font-size: 100%;
overflow: auto;
}

.leftColumn {
padding: 10px 10px 10px 5px;
width: 15%;
}

.rightColumn {
padding: 10px 10px 10px 10px;
}

.subHeader {
color: #004A66;
font-size: 16px;
letter-spacing: 1px;
font-weight: bold;
margin: 0px 0px 5px 0px;
border-bottom: 1px solid #004A66;
padding-bottom: 3px;
}

h1,h2,h3,h4,h5,h6 {
color: #004a66;
/*line-height: 12px;*/ /*modif pour écart suffisant si titre sur 2 lignes*/
}

h1 {
font-size: 20px;
line-height: 24px ; /*modif = interligne plus large H1 police + 4 px*/
}

h2 {
font-size: 18px;
padding-bottom: 5px; /*modif = espace sous h2*/
border-bottom: 1px solid #004a66; /*modif = trait sous H2*/
line-height: 22px ; /*modif = interligne plus large H2 - police + 4 px*/
}

h3 {
font-size: 16px;
}

h4 {
font-size: 14px;
}
h5 {
font-size: 12px;
}

h6 {
font-size: 10px;
}

b.rtop, b.rbottom{
display: block;
background: #bebebe;
}

b.rtop b, b.rbottom b{
display: block;
height: 1px;
overflow: hidden;
background: #004A66
}

b.r1{
margin: 0 5px
}

b.r2{
margin: 0 3px
}

b.r3{
margin: 0 2px
}

b.rtop b.r4, b.rbottom b.r4{
margin: 0 1px;
height: 2px
}
